@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}

a:hover {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

header {}

.track_nav {
    text-align: right;
    margin-top: 5px;
    font-size: 12px;
}

.track_nav > ul > li {
    display: inline;
}

.track_nav > ul > li > a {
    padding: 15px 15px;
    color: #0e594e;
}

.track_nav > ul > li > a:hover {
    text-decoration: none;
    color: #000;
}

.search_tab {
    float: right;
}

.search_tab input {
    margin: ;
    height: 30px;
    display: inline-block;
    width: 240px;
    border: 1px solid #000;;
    outline: none;
}

.main_warp {}

.logo {
    float: left;
    width: 225px;
}
.logo img{
    max-width: 100%;
}

.search_tab input[type="text"] {
    padding-left: 8px;
}

.search_tab button {
    height: 30px;
    width: 30px;
    display: inline;
    background: none;
    border: 1px solid #000;
    outline: none;
}

.search_tab a i {
    display: inline;
    font-size: 28px;
    color: #000;
}

.search_tab a i:hover {
    text-decoration: none;
}

.main_nav {
    float: right;
    margin-top: 20px;
    background: rgba(14, 89, 78, 0.1);
    height: 30px;
}

.main_nav ul li {
    display: inline;
    line-height: 30px;
}

.main_nav ul li a {
    padding: 5px 5px;
    padding-left: 17px;
    padding-right: 1px;
    color: #000;
    text-transform: uppercase;
}

.main_nav ul li a:hover {
    text-decoration: none;
    color: #ea5b0c;
}

.cat_banr_part {
    margin-top: 15px;
}

.cat_banr_part h4 {
    width: 100%;
    background: #0e594e;
    color: #fff;
    padding: 10px 0px;
    padding-left: 20px;
    margin: 0;
}

.cat_banr_part ul {
    background: #ebebeb;
    padding: 5px 20px;
}

.cat_banr_part ul li {
    list-style: none;
    border-bottom: 1px solid #d7d7d7;
    padding: 5px 0px;
}

.cat_banr_part ul li a {
    color: #000;
}

.cat_banr_part ul li a:hover {
    text-decoration: none;
    color: #0e594e;
    font-weight: bold;
}

.product_slid_part {
    background: #ebebeb;
    padding: 15px 0px;
}
.product_slid_part h3{
    text-align: center;
}
.product_box ul li {
    
}
a .prd_bx{
    color: #000;
    border: 3px solid #fff;
}
a .prd_bx:hover{
    color: #ea5b0c;
    border: 3px solid #ea5b0c;
}
.prd_bx {
    background: #fff;
    width: 280px;
    height: 310px;
    margin: 0 auto;
}

.prd_bx p {
    margin-top: 30px;
    font-weight: bold;
}

.our_storie_part {
    background: url(../images/bg.jpg) no-repeat center;
    background-attachment: fixed;
}

.our_storie_box {
    border: 1px solid #fff;
    margin: 40px 0px;
    padding: 30px 40px;
    text-align: center;
}

.our_storie_box h4 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.our_storie_box p {
    color: #fff;
    text-align: center;
    padding: 15px 0px;
}

.our_storie_box a {
    margin: 0 auto;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
}

.our_storie_box a:hover {
    text-decoration: none;
    color: #ea5b0c;
    border: 1px solid #ea5b0c;
    
}

.bakr_hom_part {
    padding: 15px 0px;
}

.bkr_bx {
    text-align: center;
}

.bkr_bx h3 {
    background: #0e594e;
    width: 100%;
    color: #fff;
    display: block;
    padding: 25px;
    font-size: 18px;
    margin: 0;
}

.bkr_bx .orng {
    background: #ea5b0c;
}

.bkr_img img {
    max-width: 100%;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.bkr_img h3 {
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.bkr_bx a:hover img {
    opacity: 0.75;
    background: #ea5b0c;
}
.bkr_bx a:hover h3 {
    opacity: 0.75;
}
.ready_part {
    padding: 20px 0px;
}

.ready_part img {
    max-width: 100%;
}

.ready_part h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.rdy_img {
    display: block;
    padding: 2px;
    overflow: hidden;
}
.rdy_img a {
    display: block;
    width: 100%;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    position: relative;
}
.rdy_img_left a{
    background: url(../images/rdy_1.jpg) no-repeat center;
    height: 296px;
}

.rdy_img_col_1 a{
    background: url(../images/rdy_3.jpg) no-repeat center;
    height: 145px;
}

.rdy_img_col_2 a{
    background: url(../images/rdy_4.jpg) no-repeat center;
    height: 145px;
}

.rdy_img_col_3 a{
    background: url(../images/rdy_5.jpg) no-repeat center;
    height: 145px;
    margin-top: 6px;
}

.rdy_img_right a{
    background: url(../images/rdy_2.jpg) no-repeat center;
    height: 296px;
}
.ready_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.55);
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.rdy_img:hover a {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.rdy_img:hover .ready_overlay {
    opacity: 1;
}



.we_deal_part {
    text-align: center;
    margin: 20px;
}
.we_deal_head{
    margin-top: -15px
}
.we_deal_head h2 {
    text-align: center;
    text-transform: uppercase;
    background: white;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    padding: 0px 10px;
}
.we_deal_warp{
    border: 1px solid #000;
    background: url(../images/we_bg.png) center;
    background-size: contain;
    background-repeat: repeat-y;
}
.we_deal_bx{
    
}
.we_deal_bx a{
    color: #000;
}
.we_deal_bx a:hover{
    color: #0e594e;
}
.we_deal_bx p{
    padding: 15px;
    font-weight: bold;
    
}

footer {
    background: #0e594e;
    padding: 30px 0px;
}

.ft_log {
    text-align: center;
    padding: 15px 0px;
}
.ft_log img{
    max-width: 100%;
}

.adrs {
    color: #fff;
}

.adrs p {
    line-height: 25px;
    padding: 15px 0px;
}
.adrs p a{
    color: #fff;
}
.adrs p a:hover{
    color: #ea5b0c;
}
.foot_nav ul li {
    list-style: none;
    padding-top: 5px;
    border: none;
}
.foot_nav ul{
    background: #0e594e;
}
.foot_nav ul li a {
    color: #fff;
}
.foot_nav ul li a:hover{
    color: #ea5b0c;
}
.track_nav_ft ul li {
    list-style: none;
    padding-top: 5px;
    border: none;
}

.track_nav_ft ul li a {
    color: #fff;
}
.track_nav_ft ul{
    background: #0e594e;
    padding: 0px;
}
.track_nav_ft ul li a:hover{
    color: #ea5b0c;
}
.social a span {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #fff;
    display: inline-block;
    text-align: center;
}
.social a span:hover{
    background: #ea5b0c;
}
.social a span i {
    color: #0e594e;
    line-height: 30px;
    font-size: 16px;
}
.social a span i:hover{
    color: #fff;
}
.foot_bar {
    padding-top: 10px;
}

.foot_bar .copy {
    float: left;
    font-size: 12px;
}

.foot_bar .powr {
    float: right;
    font-size: 12px;
}
.ready_items .col-sm-1, .ready_items .col-md-1, .ready_items .col-lg-1, .ready_items .col-sm-2, .ready_items .col-md-2, .ready_items .col-lg-2, .ready_items .col-sm-3, .ready_items .col-md-3, .ready_items .col-lg-3, .ready_items .col-sm-4, .ready_items .col-md-4, .ready_items .col-lg-4,  .ready_items .col-sm-5, .ready_items .col-md-5, .ready_items .col-lg-5, .ready_items .col-sm-6, .ready_items .col-md-6, .ready_items .col-lg-6, .ready_items .col-sm-7, .ready_items .col-md-7, .ready_items .col-lg-7, .ready_items .col-sm-8, .ready_items .col-md-8, .ready_items .col-lg-8, .ready_items .col-sm-9, .ready_items .col-md-9, .ready_items .col-lg-9, .ready_items .col-sm-10, .ready_items .col-md-10, .ready_items .col-lg-10, .ready_items .col-sm-11, .ready_items .col-md-11, .ready_items .col-lg-11, .ready_items .col-sm-12, .ready_items .col-md-12, .ready_items .col-lg-12 {
    padding: 0px 3px;
}
.ready_items .row {
    margin: 0px -3px;
}
.cat_trigger{
    display: none;
    float: right;
    margin-right: 15px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #0e594e;
}
.bx-wrapper .bx-pager{
    margin: 0 auto;
    padding: 0;
    position: absolute;
    margin-bottom: 50px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
    border: 1px solid #0e594e;
}
.ban_warp ul li {
    padding: 0;
    margin: 0;
    background: #fff;
}
.about_pg_part{
    
}
.about_pg_part h2{
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
.about_pg_part p{
    padding: 25px 0px;
}
.contact_pg_part{
    padding: 0px 15px;
}
.contact_pg_part h2{
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;   
}
.contact_pg_part input {
    margin: 20px auto;
    height: 30px;
    display: list-item;
    width: 100%;
    border: 1px solid #000;
    outline: none;
}
.contact_pg_part input[type="text"] {
    padding-left: 8px;
}
.contact_pg_part textarea {
    margin: 20px auto;
    height: 100px;
    display: list-item;
    width: 100%;
    border: 1px solid #000;
    outline: none;
    padding-left: 8px;
}
.contact_pg_part button {
    margin-top: 10PX;
    width: 120px;
    height: 30px;
    background: none;
    border: 1px solid #000;
    float: right;
}
.contact_pg_adrs_part{
    padding: 60px 0px;
}
.contact_pg_adrs_part img{
    max-width: 100%;
}
.contact_adrs{
    line-height: 25px;
    padding: 15px 0px;
    color: black;
}
.contact_adrs p a{
    color: black;
}
.contact_adrs p a:hover{
    color: #ea5b0c;
}
.contact_pg{
    height: auto;
}
.map{
    width: 100%;
    height: 300px;
    padding: 15px 0px;
}
.map_part{
    
}
.map_part{
    font-weight: bold;
    text-align: center;
    color: #0e594e;
    padding-bottom: 5px;
    background: url(../images/row.png) center;
    background-repeat: repeat-x;
}
.map_part h2{
    background: #fff;
    padding: 5px 10px;
    display: inline;
    font-size: 20px;
} 
/*BUY NOW PAGE*/
.buy_pg{
    padding: 40px 0px; 
}
.product_features{
    
}
.product_features h3{
    font-size: 22px;
    font-weight: bold;
    color: #0e594e;
}
.product_features p{
    font-size: 14px;
    color: #0e594e;
}
.features{
    padding: 15px 0px;
}
.features h5{
    font-weight: bold;
}
.features ul{
    margin-left: 55px;
} 
.product_features h2{
    font-weight: bold;
    font-size: 28px;
    color: #ea5b0c;
    float: left;
    margin: 10px 0px;
}
.product_features button{
    width: 155px;
    height: 40px;
    background: #ea5b0c;
    color: #fff;
    float: right;
    outline: none;
    border: none;
}
.related_products{
    padding: 25px 0px;
}
.related_products h4{
    font-size: 18px;
    color: #0e594e;
    font-weight: bold;
    float: left;
}
.related_products a{
    float: right;
    padding: 5px 20px;
    border: 1px solid #0e594e;
    color: #0e594e;
}
.related_products a:hover{
    color: #ea5b0c;
    text-decoration: none;
}
.relat_prd{
    padding: 30px;
    background: #ebebeb;
    width: 100%;
    text-align: center;
    float: left;
}
.relat_prd p{
    padding: 15px 0px;
    font-weight: bold;
    margin: 0;
}
/*MODE OF OPRATIONS*/
.mode_pg_part{
    
}
.mode_pg_part h2{
    font-size: 14px;
    font-weight: bold;
    color: #0e594e;
    margin-bottom: 0;
}
.mode_pg_part ul li{
    list-style: disc;
    border-bottom:none;
    padding: 5px 0px;
}
.mode_pg_part ul{
    background: #fff;
    padding: 5px 40px;
}
.mode_pg_part ul li{
    background: #fff;
    padding-left:30px;
}
/*WE DEAL*/
.deal_brand{
    border: 1px solid #000;
    text-align: center;
    margin: 15px 0px;
}
.deal_brand img{
    max-width: 100%;
}
.we_deal_prd{
    padding: 30px;
    background: #ebebeb;
    width: 100%;
    text-align: center;
    float: left;
    border: 1px solid #fff;
    color: #000;
}
.we_deal_prd:hover{
    border: 1px solid #ea5b0c;
    background: #fff;
    color: #ea5b0c;
}
.we_deal_prd p{
    padding: 15px;
    font-weight: bold;
}
.we_deal_products{
    padding: 20px 0px;
}
.view_all{
    text-align: center;
}
.view_all a{
    padding: 3px 25px;
    border: 1px solid #000;
    color: #000;
}
.view_all a:hover{
    background: #0e594e;
    color: #fff;
}
.product_part{
    padding: 25px 0px;
}
.filter{
    width: 100%;
    padding: 15px 0px;
}
.filter h4{
    width: 100%;
    background: #0e594e;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
@media only screen and (max-width:991px) {
    .cat_trigger{
        display: inline-block;
    }
    .categories{
        display: none;
    }
    .main_nav{
        margin: 0 auto;
        margin-top: 5px;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .main_nav ul{
        margin: 0;
    }
}
@media only screen and (max-width:767px) {
    .logo {
        width: auto;
    }
    .main_nav{
        margin: 0 auto;
        margin-top: 5px;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .main_nav ul li {
        display: list-item;
        list-style: none;
    }
    .main_nav ul li a{
        padding-left: 0px;
    }
    .main_nav ul li:hover{
        background: #d7d7d7;
        color: #ea5b0c;
    }
    .bkr_bx{
    }
    .cat_trigger{
        display: inline-block;
    }
    .categories{
        display: none;
    }
    .adrs p{ 
        text-align: center;
        margin: 0 auto;
    }
    .foot_nav{
        text-align: center;
    }
    .track_nav_ft{
        text-align: center;
    }
    .social{
        text-align: center;
    }
    .bkr_bx{
        margin-top: 15px;
    }
    .prd_bx {
    background: #fff;
    width: 95%;;
    height: 310px;
    margin: 0 auto;
}
    .contact_pg_adrs_part{
        text-align: center;
    }
}
@media only screen and (max-width:480px){
    .logo{
        float: none;
        text-align: center;
    }
    .track_nav{
        text-align: center;
    }
    .search_tab{
        margin: 0 auto;
        float: none;
        margin-top: 5px;
    }
    .search_tab a{
        float: right;
        margin-right: 5px;
    }
    .foot_bar .copy{
        float: none;
        text-align: center;
    }
    .foot_bar .powr{
        float: none;
        text-align: center;
    }
    .our_storie_box{
        padding: 20px 20px;
    }
}
@media only screen and (max-width:480px){
    .search_tab input {
        display: inline-block;
        width: 200px;
        border: 1px solid #000;;
        outline: none;
    }
}







