/*font-family: 'Roboto', sans-serif;
*/



body{font-family: 'Roboto', sans-serif;font-weight:300;font-size:15px; color:#474747 !important; height:auto !important;
background:}
a{text-decoration:none !important; outline:none !important;}
.clearer{ clear:both;}

#header{ width:100%; background:#FFF; padding:22px 0px 20px 0px;}
.logo{ float:left; width:139px; height:46px; display:block; background:url(../img/logo.png) center top no-repeat;}
.navigation{ float:right;  margin-right: 30px;}
#contentarea{ width:100%; /*padding-top:25px;*/ background: url(../img/bg.jpg) center top no-repeat; background: -webkit-linear-gradient(#FFF, #FF9003, #FFF) !important;background: -moz-linear-gradient(#FFF, #FF9003, #FFF) !important;background: -o-linear-gradient(#FFF, #FF9003, #FFF) !important;background: linear-gradient(#FFF, #FF9003, #FFF) !important;/* padding:70px 0px 86px 0px !important;*/ background-size:cover; }
.bglogin{ /*background:url(../img/loginbg.jpg) center top no-repeat !important;*/background: -webkit-linear-gradient(#FFF, #d37e13, #FFF) !important;background: -moz-linear-gradient(#FFF, #d37e13, #FFF) !important;background: -o-linear-gradient(#FFF, #d37e13, #FFF) !important;background: linear-gradient(#FFF, #d37e13, #FFF) !important;  padding:70px 0px 86px 0px !important;
background-size:cover !important;}

/*---dropdown---*/
.caret{ display:none;}
.navigation .dropdown{ margin-top:12px;}
.navigation .dropdown>a{font-family: 'Roboto', sans-serif;font-weight:700;font-size:13px; color:#8a8a8a; text-transform:uppercase; display:inline-block; background:url(../img/settingsicon.png) left 0px no-repeat; padding-left:28px;}
.navigation .dropdown-menu,.dropdown2{margin: 2px 0 0;border-radius: 0px; box-shadow: none;font-family: 'Roboto', sans-serif;font-weight:400;font-size:14px; color:#bfc7cf;border: none !important;float: left;min-width: 153px;}
.navigation .dropdown-menu {top: 25px; left: -36px;padding: 15px 10px 10px 10px; background-image:url(../img/drowpdownbg.jpg); background-position:center top; background-repeat:no-repeat; background-color:#171c1e;}
.navigation .dropdown-menu li{border-bottom:1px solid #363b3e;}
.navigation .dropdown-menu >li > a{ font-family: 'Roboto', sans-serif;font-weight:400;font-size:14px; color:#bfc7cf; padding:10px 0px;}
.navigation .dropdown-menu >li > a:hover{ background:none; color:#FFF;}
.navigation .dropdown-menu li:last-child{ border-bottom:0;}

.leftmenu li{ position:relative;}
.dropdown2 {top: 0px;left: 187px;padding: 10px 0 !important; background:#000;}
.dropdown2 ul{}
.dropdown2 li{ border:none;}
.dropdown2 >li > a{ font-family: 'Roboto', sans-serif;font-weight:400;font-size:14px; color:#bfc7cf; padding:8px 15px;}
.dropdown2 >li > a:hover{ background:#262626; color:#FFF;}
.dropdown2 li:last-child{ border-bottom:0;}
li.bottom ul.dropdown-menu.dropdown2 { bottom: 0;top: auto;}

/*---dropdown---*/



.leftmenu{ width:100%; background:#000000; background-color:rgba(0, 0, 0, 0.72);}
.leftmenu ul{ padding:0; margin:0;}
.leftmenu li{ list-style:none;}
.leftmenu li a{ font-family: 'Roboto', sans-serif;font-weight:700;font-size:11px; color:#e7e3e7; text-transform:uppercase;
display: block; position:relative;z-index: 4;}
.leftmenu li a:focus{  background:#000;}
.menuicons{ width:37px; height:48px; background: url(../img/menuicons.gif) center top no-repeat;   display: inline-block;
vertical-align: middle; margin-right:14px;   z-index: 3;}
.leftmenu>ul>li>a:before {content: ""; display: block;width: 0; height: 100%;background: rgb(2, 3, 3); position: absolute;
  -webkit-transition-duration: .5s; -moz-transition-duration: .5s; -o-transition-duration: .5s; -ms-transition-duration: .5s;
  transition-duration: .5s; top: 0; left: 0;z-index: -1;}
.leftmenu ul>li a:hover:before {width: 100%;}

.icn1{ background-position:center top;}
.icn2{ background-position:center -48px; height:42px;}
.icn3{ background-position:center -90px; height:42px;}
.icn4{ background-position:center -132px; height:42px;}
.icn5{ background-position:center -174px; height:42px;}
.icn6{ background-position:center -216px; height:42px;}
.icn7{ background-position:center -258px; height:42px;}
.icn8{ background-position:center -301px; height:43px;}
.icn9{ background-position:center -345px; height:44px;}
.icn10{ background-position:center -388px; height:43px;}
.icn11{ background-position:center -430px; height:46px;}

.profileboxmain{width:100%;   height:200px; background:#993333;}
.photo,.photo img{ width:100%;}
.name{ width:100%;font-family: 'Roboto', sans-serif;font-weight:700;font-size:15px; color:#d8e4e8; text-transform:uppercase;
display:inline-block; background:#171c1e; padding:15px 15px; }
.studentsdtls{ width:100%; position:relative; background:#171c1e;  margin-top:7px;
 padding:16px 10px 29px 10px; /*background-color:rgba(23, 28, 30, 0.61);*/} 
.arrow1{ width:13px; height:5px; background:url(../img/arrow1.png) center bottom no-repeat; position:absolute; z-index:99; top:-4px; display:inline-block; left:46%; }

#contentarea-right{}
.profilebox{ width:100%;}
.contentarearight-in{}

.banner{ width:100%; position:relative;}
.bannertitlebox{ position:absolute; z-index:999; background:#000; width:265px; height:100%; background-color:rgba(0, 0, 0, 0.75); text-align:center;}
.bannerlogo{ width:133px; height:133px; margin:25px auto 23px auto;}
.bannertitlebox h3{font-family: 'Roboto', sans-serif;font-weight:700;font-size:19px; color:#ffffff; 
text-transform:uppercase; margin-bottom:5px; }
.bannertitlebox h4{font-family: 'Roboto', sans-serif;font-weight:400;font-size:17px; color:#ffffff; margin:0;}
.profileimg{ width:100%;} .profileimg img{ width:100%; height:auto;}
.profile-name{ width:100%;font-family: 'Roboto', sans-serif;font-weight:700;font-size:15px; color:#d8e4e8; text-transform:uppercase;display:inline-block; background:#171c1e; padding:14px 14px; }


.studentsdtls{ width:100%; position:relative; background:#171c1e;  margin-top:7px;
 padding:16px 10px 29px 10px; /*background-color:rgba(23, 28, 30, 0.61);*/} 
.arrow1{ width:13px; height:5px; background:url(../img/arrow1.png) center bottom no-repeat; position:absolute; z-index:99; top:-4px; display:inline-block; left:46%; }

.studentsdtls ul{ padding:0; margin:0; }
.studentsdtls li{font-family: 'Roboto', sans-serif; border-bottom:1px solid #303636; list-style:none;
font-weight:700;font-size:13px; color:#c2c2c2; padding:7px 0px; width:100%; display:inline-block;}
.studentsdtls li:last-child{ border-bottom:none;}
.studentsdtls li a{color:#c2c2c2; display:inline-block; margin-top:2px;}
.studentsdtls li a:hover{ color:#4e83a5;}
.blue{ color:#4e83a5;}

.contentarearight-btm{  margin-top: 10px; font-family: 'Roboto', sans-serif;}
.notification{}
.events{}
.schedule .time {
  display: inline-block;
  float: right;
  color: #9B9B9B;
  float: right;
  font-size: 12px;
  line-height: 3em;
  padding: 10px 10px 10px 0;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 400;
}
.schedule{}
.contentarearight-btm ul{ padding:0; margin:0;}
.contentarearight-btm li{ list-style:none; border-bottom:1px solid #c1c4c6; background:#d1d8de;} 
.contentarearight-btmHeading{ padding:13px 18px; background:#e5eaf1;font-family: 'Roboto', sans-serif; text-transform:uppercase; }
.contentarearight-btmHeading h3{ font-size:15px; color:#4b4b4b;font-weight:700; padding:0; margin:0; float:left;}
.bell{ width:14px; height:16px; background:url(../img/bell.png) center top no-repeat; display:inline-block; float:left;
margin-top:10px; margin-left:6%; margin-right:13px;}
.contentarearight-btm li p,.schedule p{font-size:11px; color:#646464;font-weight:700; padding:10px 30px 10px 0px; margin:0; float:left;
  line-height:17px; width:80%;}
.schedule p {
  padding: 10px !important;
  width: 55% !important;
} 
.notifi-date{ display: inline-block; width:100%; font-size:11px; color:#646464;font-weight:400; }
.contentarearight-btm li:last-child{ border-bottom:none;}

.viewall{ float:right; font-size:11px; color:#3b3b3b;font-weight:700; display:inline-block; padding-right:10px; background:url(../img/viewall-aro.png) right 3px no-repeat;}
.viewall:hover{ color:#689203; background-position: right -9px;}

.eventdatebox{ width:57px; display:inline-block; padding:7px 0px; text-align:center; font-size:26px; font-weight:900; color:#FFF; float:left; background:#849ca8; padding-top:2px; margin-right:7px;}
.eventdateboxday{font-size:10px !important; font-weight:400 !important; display:block !important; margin-top:-5px;}
#footer{ padding-bottom:20px;}
.powerd{ width:200px; margin:0 auto;font-family: 'Roboto', sans-serif; }
.powerd p{font-weight:400; color:#000!important; font-size:17px; width:111px; padding-top:45px; float:left; }
.powerdimg{ width:89px; float:right; margin-top:25px; }

/*-----inner-----*/

.form-control,.form3 .form-control2 {
  height: 48px;
  padding: 10px 12px;
  font-size: 12px;
  color: #5a5a5a;
  background-color: #c7cadb;
  font-weight:500;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.form3 .form-control, .form3 .form-control2 {
  color: #4b4b4b;
  background-color: #FFF;
  font-weight: 700;
  text-transform:uppercase;
  padding:10px;
}
.form3 .form-control2{ background: #dfe3e5;}
.form3 .namebox{ width:180px !important;}

.lens,.lens:focus,.lens:hover {
  cursor: pointer;
  background: #C43029 url(../img/lence.gif) center center no-repeat;
  border: none;
  border-radius:0;
  width:42px; height:48px; outline:none;
}

.export,.export:focus,.export:hover {
  cursor: pointer;
  background: #C43029 url(../img/export.png) center center no-repeat;
  border: none;
  border-radius:0;
  width:42px; height:48px; outline:none;
}

.form-control:focus{box-shadow:none !important;}

.addnew {
    width: 150px;
    border: 1px solid #000;
    text-align: center;
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    display: inline-block;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s
    }
.addnew:focus{ color:#000;}	
.plus{ font-weight:400; font-size:18px; margin-right:10px;}
.addnew:hover{ color:#FFF; background-color:#000;}
.table { width: 100%; max-width: 100%; margin:0px;}
.tablearea{ width:100%;font-family: 'Roboto', sans-serif; font-weight:700; margin:20px 0; }
thead {
  background: #ffffff;
  color: #333;
 font-size:14px; color:#4b4b4b; text-transform:uppercase;
}
.tablearea tbody {
  font-size: 13px;
  color: #505050;
  background:#dfe3e5;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding:13px;
  border-top: 1px solid #c1c4c6;
}
.boy{ padding:0 !important; text-align:right;}
.adno-dtls{ width:100%; visibility:hidden; font-weight:500 !important; margin-top:3px;}
table tr:hover .adno-dtls{visibility:visible;}
.adno-dtls a{color: #505050;} .adno-dtls a:hover{color: #000000;}
.delete{color: #e30000 !important;}

.modal-body {
  padding: 15px 20px;
}

.modal-backdrop.in {
  opacity: .7;
}
.modal{font-family: 'Roboto', sans-serif;}
.modal-content {
  background-color: #fff;
  border:none;
  border-radius:0;
  outline: 0;
  box-shadow:none;
}
.modal-header {
  padding: 20px;
  border-bottom:none;
  background:#C43029;
  text-align:center;
  font-size:17px;
  text-transform:uppercase;
  color:#FFF;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
  color: #FFF;
  text-shadow: 0 1px 0 #fff;
  margin-top:3px !important;
}
.form-control2 {
 width:100%;	
  height: 40px;
  padding: 10px 12px;
  font-size: 14px;
  color: #484848;
  background-color: #FFFFFF;
  font-weight: 500;
  border: solid 1px #484848;
  border-radius: 0;
  box-shadow: none;
}
.form-control3{ height:121px;}
.form1 label {
  font-size:13px; color:#484848; text-transform:uppercase;
}
.continuebtn,.continuebtn:focus{ font-size:13px; font-weight:700; color:#FFF; text-align:center; text-transform:uppercase; background:#C43029; outline:none;
border-radius:0; padding:10px 20px; border:none;}
.continuebtn:hover{ background:#FF9104;}
.btn-md,.btn-md:focus{ font-size:13px; font-weight:700; color:#FFF; text-align:center; text-transform:uppercase; background:#C43029; outline:none;
border-radius:2; padding:10px 20px; border:none;}
.btn-md:hover{ background:#FF9104;}

.blackbox{ font-family: 'Roboto', sans-serif; font-weight:700; color:#FFF; text-transform:uppercase; text-align:center !important; display:inline-block; width:100%; padding:35px 0px; background:#171a1b; font-size:14px; margin-bottom:6px;
-moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s
}
.blackbox img{ display:block; margin:0 auto 15px auto; min-height:50px;}
.blackbox h4{ font-size:38px; font-weight:700; margin:0;min-height:50px; padding-top:6px; margin-bottom:1px;}
.blackbox:last-child{ margin-bottom:0;}

.blackbox:hover,.blackbox:focus{color:#FFF; background:#0c0e0e;}

.tabarea2{ font-weight:700; text-transform:uppercase;}
.nav-tabs {
  border:none;
  padding: 0px;
  background: #C43029;
  text-align: center;
  font-size: 15px;
  color: #FFF;
}
.nav-tabs>li { border-right:1px solid #FF9104; margin-bottom:0;}
.nav-tabs>li:last-child{ border:none;}
.nav-tabs>li>a {
  margin-right: 0px;
  border: none;
  border-radius:0px; 
  color: #FFF;
   padding: 20px 30px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
  color: #555;
  background-color: #fff;
  border:none;
}
.nav>li>a:hover { background:#FF9104;}
.tabarea2 .tab-content{ padding:40px 30px;}
.tabarea2 .table tr:hover{ background:#f1f1f1;}
.tabarea2 .table td{ border:none; font-size:13px; padding:9px 13px;}

.student-report,.student-shedule{ background:#dfe3e5; font-family: 'Roboto', sans-serif; font-weight:700;}
.rightareatop{ padding:20px;}
.rightarea h2{ font-size:18px; color:#4b4b4b; margin:0; text-transform:uppercase; font-weight:700;
  padding: 14px 0;}
.viewbtn{font-family: 'Roboto', sans-serif; font-weight:700; font-size:12px; display:inline-block; background:#C43029;
padding:8px 19px 6px 19px; color:#FFF; vertical-align: middle !important; margin-left:10px;}
.viewbtn:hover,.viewbtn:focus{ color:#FFF; background:#FF9104; }
.tablearea3 td{ padding:18px 15px !important; color:#646464;}
thead tr td {vertical-align: middle !important;}
.student-shedule{ background:#FFF;}
.student-shedule thead { background:#d9dee0;}
.student-shedule table.table tr td{ width:116px; padding:15px 12px!important;  border: 1px solid  #b6babd; }
.student-shedule table.table tbody tr td{ background:#f0f2f4;font-size:13px;}
.student-shedule table.table tbody tr td:first-child {
  background-color:#d9dee0; font-size:14px;
}
.adminarea{font-family: 'Roboto', sans-serif;}
.adminarea h5{font-weight:700; text-transform:uppercase; font-size:21px; color:#FFF; text-align:center; margin:0;}
.loginbox{ width:615px; padding: 45px 40px; margin:30px auto;  background-color:rgba(0, 0, 0, 0.5);
border:1px solid #96aac0; border-color:rgba(255, 255, 255, 0.26); }
.loginbox h6,.checkboxtext{ font-weight:300; text-transform:uppercase; color:#FFF; font-size:15px; margin:0;
text-align:center;}
.loginbox h6{ margin-bottom:8px;}

.login .form-control{ background:#FFF; font-weight:300; font-size:15px;}
.login .input-group-addon {
  padding: 6px 12px;
  text-align: center;
  background-color: #FFF;
  border:none; 
  border-radius: 0px; 
}
.adminicon,.passwordicon{ display:inline-block; width:24px; height:24px; background:url(../img/adminicon.png) center top no-repeat;}
.passwordicon{ background-image:url(../img/passwordicon.png);}
.checkboxtext{ text-transform:capitalize; text-align:left;}
.login .row{ margin-top:15px;}
.login .loginbtn{ width:100%; text-align:center; padding:13px 0px; background:#fc9009; font-weight:700; text-transform:uppercase; font-size:15px; color:#FFF; border:none;
-moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s
}
.login .loginbtn:hover{ background:#b97015;}

.login input[type=checkbox] {
  margin-top: 15px !important;
}
.password a{ color:#FFF;}
.password a:hover{ color:#cbe8a1;}
/*-----inner-----*/


/*---cstm---*/
@media(min-width:768px) and (max-width:992px){
.bannertitlebox {padding: 40px 20px 40px 20px; text-align:left !important; width: 300px;}
.bannerlogo {width: 73px;height: auto;margin: 0;float: left; margin-right:10px;}
.bannertitlebox h3 {font-size: 14px;}
		
#contentarea .leftnav{width: 100%; margin-bottom:10px;}
#contentarea .rightarea{width: 100%; padding-left:20px;}
#contentarea-right .col-sm-3{width: 37%; padding-right:0; padding-left:10px;}	
#contentarea-right .col-sm-9{width: 63%; padding-left:10px;}	
.studentsdtls li{ padding:10px 0px;}
.form3 .form-control{ padding:10px;}
}

@media(min-width:992px) and (max-width:1200px){
#contentarea .leftnav{width: 21%;}
#contentarea .rightarea{width: 79%; padding-left:0;}
#contentarea-right .col-sm-3{width: 25.7%; padding-right:0; padding-left:10px;}	
#contentarea-right .col-sm-9{width: 74.3%; padding-left:10px;}	
.notification{ padding-right:0; width:48%;}
.events{ padding-left:10px; width:52%;}	
.eventdatebox { width: 60px; padding: 12px 0px 25px 0px;font-size: 21px; margin-right:10px;}
.contentarearight-btm li p{ width:60%; padding: 12px 0px 12px 0px;}
.bell { margin-top:15px;}
.dropdown2 {left: 173px;}
}
	
@media(max-width:1200px){
.bannerlogo { width: 73px; height: auto;}
.contentarearight-btm li p{ padding-right:0;}
}


@media(min-width:1200px){

#contentarea .leftnav{width: 18.6% !important;}
#contentarea .rightarea{width: 81.4%; padding-left:0;}

#contentarea-right .col-sm-3{width: 22.4%; padding-right:10px;}
#contentarea-right .col-sm-9{width: 77.6%; padding-left:0;}

.notification{ padding-right:0; width:49.1%;}
.events{width:50.9%; padding-left:10px;}

/*#contentarea .col-sm-2{width: 16.4%; padding:0;}
#contentarea .col-sm-7{ width:63.6%; padding-left:8px; padding-right:0;}
.contentarearightbox  .col-sm-6{ padding:0;}*/

}

@media screen and (max-width: 992px){
.events{ margin-top:5px;}
ul.dropdown-menu.dropdown2 {float: none;position: relative;left: 0; padding-left: 55px !important; padding-top:0px !important;}	
}
@media screen and (max-width: 768px){
.contentarearight-in { margin-top:10px;}
.leftnav{ margin-bottom:10px;}
.addnew { margin:10px 0px;}
.loginbox {
  width: 400px;}
.login .input-group { margin-bottom:10px;}
.login input[type=checkbox] {
  margin: 0px !important;
}
}
@media screen and (max-width: 620px){	
.bannertitlebox {padding: 40px 20px 40px 20px; text-align:left !important; width: 300px;}
.bannerlogo {width: 73px;height: auto;margin: 0;float: left; margin-right:10px;}
.bannertitlebox h3 {font-size: 14px; }
}
@media screen and (max-width: 480px){
.bannertitlebox {padding: 25px;}
.schedule p {
  padding: 10px 5px !important;
  width: 56% !important;
}
.loginbox {
  width: 300px; padding: 30px 20px;
 }
	
}
/*@media(min-width:480px){
.form1 .form-group {
  width: 48%;
  padding: 1%;
  display: inline-block;
  margin-bottom: 0;
}	
}
*/


@media screen and (max-width: 380px){
.bannertitlebox {padding: 15px; text-align:left !important; width: 250px;}
.bannertitlebox h3 { margin-top:5px;}	
.eventdatebox {width: 48px;padding: 8px 0px 10px 0px; font-size: 19px;margin-right: 5px;}
.schedule p {
  padding: 10px 1px !important;
  width: 50% !important;
}
.loginbox {
  width: 272px; padding: 30px 15px;
 }
}

/*---cstm---*/


@media screen and (max-width: 1200px){
}

@media screen and (max-width: 320px){
}

/*  */


.mobmenu{color: #fff;height: 50px;cursor: pointer; background:url(../img/mobmenu.png) center right no-repeat; margin-right:15px;}

  .addnew{float: right;}
  h2.q-title{float: left;/*color: #fff;*/}
@media(max-width: 768px){
    h2.q-title{padding: 24px 0;}
}
.valid
{
	color:#F30;
}

table.no_brdr td{
	border-top: none !important;
}


/* style for adding scrolling in modal  */
.modal-dialog{
	height:95%;
	overflow-y: auto;
}
.chart th
{
	padding: 0px 45px 0px 0px;
    padding-bottom: 20px;
}
.chart td
{
	padding: 0px 45px 0px 0px;
    padding-bottom: 20px;
}


a.back_btn{
	display: inline-block;;
	color: #FFF;
	margin-right: 7px;
}

/*table caption*/
.names
{
	color: #fff;
	}




/* style for modified dashboard  */
a.blu_box{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #FFF;
	text-transform: uppercase;
	text-align: center !important;
	display: block;
	padding: 35px 0px;
	/*background: rgba(0, 0, 0, 0.72);*/
	/*background-color: #5cb85c;*/
	font-size: 14px;
	margin-bottom: 6px;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	/*width: 140px;*/
	height: 140px;
	/*border-radius: 50%;*/
	border: 3px solid #FFF;
	box-shadow: 0px 0px solid #cecece;
	-moz-box-shadow: 10px 10px 5px #CCC;
	-webkit-box-shadow: 10px 10px 5px #CCC;
	box-shadow: 10px 10px 5px #CCC;
	/*-moz-box-shadow: 0px 0px 10px #CCC;
	-webkit-box-shadow: 0px 0px 10px #CCC;
	box-shadow: 0px 0px 10px #CCC;*/
}
a.a.blu_box:active,
a.a.blu_box:focus{
	color: #FFF;
	text-decoration: none;
	outline: none;
}
a.blu_box:hover{
	background: rgba(23, 70, 157, 1);
	text-decoration: none;
}
a.viewall_cust{
	color: #FFF;
}
a.viewall_cust:hover{
	color: #333;
}
@media only screen and (min-width: 768px){
	.spec_pad .col-sm-3,
	.spec_pad .col-lg-6,
	.spec_pad .col-md-6,
	.spec_pad .col-sm-6{
		padding-left: 10px;
		padding-right: 0px;
	}
}
/*image showing with in table*/
/*.tableImage img 
{
	width: 100%;

}
.view_photos{
	max-width: 119px;
}*/
.view_photos img{
	max-width: 100%;
	max-width: 120px;
}


/* Style for diary */
.diary_wrap{
	width: 100%;
	padding: 15px;
}
.diary_search input{
	background-color: #fff;
	border: 1px solid #CCC !important;
}
.diary_search select{
	border:1px solid #CCC !important;
}
.diary_search input[type="submit"]{
	border: none !important;
	height: 48px !important;
	background-color: #C43029;
}
.diary_inner{
	margin-top: 15px;
}
.diary_nav{
	background: -webkit-linear-gradient(#535353, #1d1d1d); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#535353, #1d1d1d); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#535353, #1d1d1d); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#535353, #1d1d1d); /* Standard syntax */
  	border-bottom:4px solid #C43029;	
}
ul.diary_navigation{
	margin: 0px;
	padding:0px;
}
ul.diary_navigation > li{
	list-style: none;
	margin: 0px;
	float: left;
}
ul.diary_navigation > li > a{
	display: inline-block;
	/*color: #467800;*/
	color: #FFF;
	padding: 8px 15px;
	text-transform: capitalize;
	font-weight: bold;
}
ul.diary_navigation > li > a:hover{
	background-color: #C43029;
}
ul.diary_navigation > li > a.active{
	color: #FFF;
	background-color: #C43029;
}
.diary_nav button{
	text-transform: capitalize;
	font-weight: bold;
}
.diary_nav .btn:focus,
.diary_nav .btn:active{
    text-decoration: none !important;
    outline: none !important;
}
.student_pic{
	float: left;
	padding: 3px;
	border: 1px solid #666;
	margin-right: 15px;
}
.student_det{
	float: left;
}
.diary_block{
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #C43029;
	padding: 15px;
	display: none;
}
.diary_block.active{
	display: block;
}
.det_block{
	margin-bottom: 10px;
}
.det_head{
	display: inline-block;
	text-transform: capitalize;
	font-weight: bold;
	width: 150px;
}
.date_box{
	float: left;
	background-color: #8ABE40;
	color: #FFF;
	width:65px;
	padding:3px 0px;
	text-align: center;	
	font-weight: bold;
	margin-right: 10px;
	/*background-color: #8A8A8A;
	color: #FFF;*/
}
.notify_block{
	margin: 10px 0px;
}
.notify_det{
	float: left;
}

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding: 0px 30px !important;
}*/


/* Style for pagination */
.pagerSC a{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(top, #8abe40 0%, #7aad31 100%);
	background-image: -o-linear-gradient(top, #8abe40 0%, #7aad31 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8abe40), to(#7aad31));
	background-image: linear-gradient(to bottom, #8abe40 0%, #7aad31 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #3e8f3e; 	
	color: #FFF;
}

.pagerSC span.currentSC{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #398439;
	border-color: #255625;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #3e8f3e; 	
	color: #FFF;
	}
select.form-control {
	display: inline-block !important;
	width: auto !important;
}
.form-group {
    position: relative;
}
#aj_live {
    position: absolute;
    width: 100%;
    left: 0px;
    padding: 0px;
    z-index: 9999;
    -webkit-box-shadow: 0 -3px 3px -3px #999, 3px 0px 3px -3px #999, -3px 0px 3px -3px #999;
    -moz-box-shadow:    0 -3px 3px -3px #999, 3px 0px 3px -3px #999, -3px 0px 3px -3px #999;
    box-shadow:         0 -3px 3px -3px #999, 3px 0px 3px -3px #999, -3px 0px 3px -3px #999;
}
#aj_live > li {
    list-style: none;
    padding: 4px 10px;
    cursor: pointer;
    background-color: #FFF;
}
#aj_live > li:hover {
    background-color: #CCC;
}
	
	
	